.questions {
    width: 52%;
    margin: auto;
    padding: 80px 0;
}

.questions h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 80px;
}

@media (max-width: 768px) {
    .questions {
        width: 95%;
        padding: 56px 0;
    }
    .questions h2 {
        margin-bottom: 56px;
    }
  }

  @media (max-width: 376px) {
    .questions {
        width: 91%;
        padding: 42px 0;
    }
    .questions h2 {
        margin-bottom: 42px;
        font-size: 1.5rem;
    }
  }
  