.form__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
}

.form__input {
  width: 100%;
  padding: 16px 10px;
  outline: none;
  border: none;
  background-color: #f6f8fa;
  border-radius: 4px;
  font-size: 18px;
}

.input_with_value {
    outline: #ECEFF2;
    border: 2px solid #ECEFF2;
    padding: 23px 10px 6px 10px;
}

.input_with_error {
    outline: #F13636;
    border: 2px solid #F13636;
}

.form__input:focus-within {
    outline: #C2C8CD;
    border: 2px solid #C2C8CD;
    padding: 23px 16px 6px 10px;
}

.form__label {
  position: absolute;
  pointer-events: none;
  left: 12px;
  right: 16px;
  top: 5px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 40px;
  transition: 0.3s;
  color: #5e646a;
  font-size: 1.125rem;
}

.form__input:focus ~ .form__label,
.form__input:not(:focus):valid ~ .form__label {
  top: -5px;
  font-size: 0.875rem;
  color: #83898F;
}

.check__icon {
    position: absolute;
    right: 10px;
    top: 16px;
}

.helper__text {
    color: #F13636;
    font-size: 0.75rem;
}